body {
  color: rgb(61, 61, 61);
}

.wrapper {
  max-width: 600px;
  margin-top: 20px;
}
.searchForm {
  margin-left: -60px;
}
.currentCityButton {
  padding: 5px 15px;
  border: 2px solid #44c2e4;
  background-color: rgb(255, 255, 255);
  border-radius: 19px;
}
.currentCityButtonlocation {
  text-align: right;
}
.searchCity {
  margin-top: 30px;
  margin-left: 38px;
}

.currentCity {
  margin-left: 38px;
}
.detailedWeather {
  font-size: small;
  margin-left: 40px;
}
h1 {
  margin-top: 30px;
}
.tempUnitC {
  font-size: 12px;
  position: relative;
  top: -12px;
  text-decoration: none;
}
.tempUnitF {
  font-size: 12px;
  position: relative;
  top: -14px;
}
a {
  text-decoration: none;
}
.tempUnitStrike {
  font-size: 12px;
  position: relative;
  top: -14px;
}
.currentCityTemp {
  margin-left: 8px;
}
.currentDate {
  font-size: 12px;
  margin-left: 8px;
}
.sun {
  width: relative;
  margin-top: 30px;
  margin-left: 20px;
}
.icon {
  margin: 3px;
}
.gitHub {
  text-decoration: none;
}
h1 .active {
  color: rgb(61, 61, 61);
  cursor: default;
}
